<html>
  <body style='font-family: Arial, sans-serif;'>
    <div
      style='width:100%;height:100%;background-color:#f0f6ff;padding-top:30px'
    >
      <center
        style='width:100%;table-layout:fixed;padding-bottom:60px;color: #151416;'
      >
        <table style='border-spacing:0;margin-top:30px;margin-bottom:24px'>
          <tbody>
            <tr>
              <td style='padding:0'>
                <img
                  src='https://res.cloudinary.com/dlicymktd/image/upload/v1739592141/loket-logo_m1k2ow.png'
                  alt=''
                  style='width:152px;height:40px;border:0'
                  class='CToWUd'
                  data-bit='iit'
                />
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width='100%'
          style='border-spacing:0;background-color:#ffffff;margin:0 auto;width:100%;max-width:600px;font-family:sans-serif;color:#494a4a;border-radius:12px'
        >
          <tbody>
            <tr>
              <td
                height='8'
                style='background-color:#152955;border-top-left-radius:100px;border-top-right-radius:100px;padding:0'
              >
              </td>
            </tr>
            <tr>
              <td
                style='padding:32px 32px 24px 32px;font-size:14px;line-height:20px;letter-spacing:0.003em;font-style:normal;font-weight:400;color:#151416'
              >
                <h2 style='font-size:21px;font-weight:600;color: #151416;'>Maaf,
                  pembayaran kamu ditolak</h2>
                Halo
                <b style='color: #151416;'>{{customerName}}</b>,
                <br />
                Kami menyesal memberitahukan kepada anda bahwa pemesanan tiket
                untuk acara
                {{eventTitle}}
                telah ditolak karena bukti pembayaran yang tidak valid.
                <br />
                <br />
                <span style='color: #151416;'>
                  Kamu bisa mencoba kembali untuk melakukan pemesanan dengan
                  bukti pembayaran yang valid. Mohon maaf atas
                  ketidaknyamanannya
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </div>
  </body>
</html>